ul {
  list-style: none;
}

li {
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
}

li.isFirst {
  border: 2px solid black;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
}

  li.VideoGame {
     background: red;
  }

  li.CardGame {
    background: lime;
  }

p.No {
  color: red;
}

p.Yes {
  color: green;
}
