<app-create-content (contentCreated)="addContentToList($event)"></app-create-content>

<div>
  <h4>Search For Title</h4>
  <input #searchTitle>
  <br><button (click)="searchForTitle(searchTitle.value)">Search</button><br>
  <p class="{{searchedTitleClass}}">{{searchedTitle}}</p>
</div>

<div>
  <h4>Search For Type</h4>
  <input #searchTerm>:{{searchValue}}
  <br><button (click)="updatePage(searchTerm.value)">Update page</button>
</div>

<ul>
  <li *ngFor="let content of (myContentArr); index as i; first as isFirst" [class.isFirst]="isFirst" class="{{content.type}}">
     <app-content-card [content]="content"></app-content-card>
  </li>
 </ul>


