<app-modify-content (contentModified)="addModifiedContentToList($event)"></app-modify-content>

<div>
  <mat-form-field>
    <input matInput #searchTitle placeholder="Search For Title">
  </mat-form-field>
      <button mat-raised-button color="primary" (click)="searchForTitle(searchTitle.value)">
        Search
      </button><br>
      <p class="{{searchedTitleClass}}">{{searchedTitle}}</p>
</div>

<div>
  <mat-form-field> 
    <input matInput #searchTerm placeholder="Search For Type">:{{searchValue}}
  </mat-form-field>
 <button mat-raised-button color="primary" (click)="updatePage(searchTerm.value)">Update page</button>
</div>

<ul>
  <li *ngFor="let content of (projectList); index as i; first as isFirst" [class.isFirst]="isFirst" class="{{content.type}}">
     <app-content-card [content]="content"></app-content-card>
  </li>
 </ul>


