a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

mat-card {
  border: 1px solid black;
  margin: 0 12% 12% 12%;
  width: 76%;
  display:block;

   > div {
    width: 60%;
    margin: 0 20% 0 20%;
  }
}
